.display-analyse {
    padding: 24px;
    .content {
        margin-top: 0px;
        .card {
            display: flex;
            .icon {
                flex: 1;
                text-align: center;
            }
        }
    }

    .title {
        padding: 24px 0;
    }
    .base-info {
        padding:0 0 24px;
    }

    .actName span {
        vertical-align: top;
        &:last-child {
            max-width: 60%;
        }
    }

    :global {
        // .ant-table-row-cell-break-word {
        //     padding: 4px 16px;
        // }
        .ant-card-head-title {
            padding: 12px 0;
        }

        .ant-card-body {
            padding: 12px 24px;
        }
        .ant-tabs-bar {
            margin: 0;
            border-bottom: none;
        }

        .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab {
            border-bottom: none;
        }
    }
}